{% extends "base.html" %}

{% block content %}
<h1>Tea Page</h1>

<div class="row">
  {% for tea in teas %}
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="{{ tea.image }}" class="card-img-top" alt="{{ tea.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ tea.name }}</h5>
        <p class="card-text">${{ tea.price }}</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
